.space {
  padding: 20px;
  padding-top: 0.1px;
}

#socialmedia {
    position: relative;
    display: block;
    width: 90px;
    margin: auto;
    padding-left: 700px;

}

.font {
  font-family: cursive;
  margin-top: 0;
  text-align: center;
}

.center {
  font-family: cursive;
  text-align: center;
}

.border {
  border: 1px solid black;
}

.padding {
  padding: 40px;
}
