html, body{
  margin: 0px;
}
h1, h2, h3, h4, h5, h6{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
hr{
  width: 50px;
  height: 5px;
  background-color: #000;
}
.navbar{
  margin-bottom: 0px;
}
p{
  font-family: sans-serif;
}
img{
  width: 100%;
}
.btn{
  text-align: center;
}
.img-rounded{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px
}
.halaman3{
  margin-top: 60px;
}
.halaman4{
  min-height: 613px;
  padding-top: 20px;
}
.navbar{
  margin: 0px;
}
.page{
  background-color: #f0f0f0;
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:613px;
  margin: 0px;
  padding: 110px 10px;
  text-align: center;
}
.intro{
  font-weight: 400;
  color: #777;
  font-size: 18px;
}
.wwh{
  padding: 60px 100px;
}
.fa{
  text-align: center;
  padding: 5px;
  margin-top: 30px;
}
.p{
  text-align: center;
  margin-top: 30px;
}
.page2{
  background-color: #f0f0f0;
  min-height:613px;
  margin: 0px;
  padding: 10px;
}
.footer{
  background-color: #696969;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 20px;
}
